/* ================= 
    Custom Properties
===================*/
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  /* px values overwrites the default settings of the browsers
  and if the user has changed their default settings for font-sizes intheir
  browsers then px will values will overwrite them and make the site appear different
  than it should be
  rem works on the default browser font-size settings so it won't overwrite
  default/changed browser settings nd make the site appear as designed
  with things appearing big/small as they were designed in predictable ways */
  --fs-900: 9.875rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* ================= 
    Resets
===================*/

/* https://andy-bell.co.uk/a-modern-css-reset/ - Andy Bell's Reset(inspiration for reset) */
/* box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* margin reset */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* since we have only imported 400-regular font-weight from google
  so put that on each heading/paragraph as design requires */
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background: hsl(var(--clr-dark));
  line-height: 1.5; /*browser default is 1.4/1.5*/
  min-height: 100vh; /*all the pages are bigger in size and avoid smaller pages on the display and never allow website size to go smaller*/
}

/* make images easier to work with */
img,
picture {
  /* shrink images as per screen size but never allow images to grow beyond its original size */
  max-width: 100%;
  /* remove the space below image which appears since images are inline by default */
  display: block;
}
/* make form elements easier to work with */
input,
button,
select,
textarea {
  /* form elements don't inherit font by default */
  font: inherit;
}

/* Remove all animations, transitions  for people that prefer not to see them 
this is important for accessibility reasons because for some people animations make them feel sick and 
they turn off animation in their browser/OS so remove animation from your site for those people who have chosen
to turn off animation in their website*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ================= 
    Utility Classes
===================*/
/* general styles */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
/* andy bell's flow utility class based on lobotomized owl
for setting up spacing among the components 
only add margin-top on elements after the first element
because if we are putting padding on the parent element then parent will alread give space before thefirst element anyway so no need for margin on first element*/
/* https://andy-bell.co.uk/my-favourite-3-lines-of-css/ */
/* .flow > * + * {
  margin-top: 2rem;
  outline: 1px solid red;
} */
/* * + * does not add specifity while :not() does add same specificity as of class selector so just using :not() will make it difficult to overwrite the selectors in future so use :where(:not()) which makes the specificity to 0 or use :is(:not()) is makes the specificity according to :is(id/class/type) meaning whatever selector inside is() has the highest specificity the specificity of is() will be based on that
ex. .card h1,.card h2,.card h3{}
instead use .card :where(h1,h2,h3) specicity 0
or use .card :is(h1,h2,h3) specificity = type 
*/
/* check for sanitize css reset */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}
.flow-space {
  --flow-space: 1rem;
}
.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

/*for accessibility: to visually hide the element
screen readers can read the text inside the element but visually it will be hidden
read out the element to provide context to the listeners about the element*/
.sr-only {
  /* can't use display:none to hide elements because it will take the element out of the 
  DOM, this class and properties/style keeps the element inside the DOM and accessible to 
  screen reader while visually hides the element */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.box {
  background: lightblue;
  padding: 3rem;
}

.cta {
  /* changing/setting value of --gap variable for .flex/.grid from here */
  /* --gap: 5rem; */
  background: pink;
  border: 2px solid red;
  padding: 2rem;
}

/* colors */
.bg-dark {
  background: hsl(var(--clr-dark));
}
.bg-accent {
  background: hsl(var(--clr-light));
}
.bg-white {
  background: hsl(var(--clr-white));
}
.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}
.example-component {
  background: hsl(var(--clr-light) / 0.2);
}
#colors p > span {
  display: inline-block;
  margin-right: 3rem;
}
/* .flex > div {
  /* expanding each color box equally in the design system */
/* flex-basis/width: 100%; or instead use flex-grow:1*/
/* }  */
/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

/* for bigger fontt sizes the lineheight gets to large which make it look ugly so set their line height */
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.72px;
  text-transform: uppercase;
}
.numbered-title > span {
  color: hsl(var(--clr-white) / 0.25);
  margin-right: 0.5em;
  font-weight: 700;
}
